n8n-workflow-taoyuan-xls.json
{
  "name": "桃園機場人流預報 XLS 爬取 → GitHub Gist",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "schedule-trigger",
      "name": "每小時觸發",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst twNow = new Date(now.getTime() + 8 * 3600 * 1000);\n\nfunction makeDateInfo(twDate) {\n  const yyyy = twDate.getUTCFullYear();\n  const mm = String(twDate.getUTCMonth() + 1).padStart(2, '0');\n  const dd = String(twDate.getUTCDate()).padStart(2, '0');\n  const isoDate  = `${yyyy}-${mm}-${dd}`;\n  const dateSlug = `${yyyy}_${mm}_${dd}`;\n  return {\n    isoDate,\n    dateSlug,\n    xlsUrl: `https://www.taoyuan-airport.com/uploads/fos/${dateSlug}.xls`,\n    xlsName: `${dateSlug}.xls`,\n    gistFileName: `airport-${isoDate}.json`,\n  };\n}\n\nconst twTomorrow = new Date(twNow.getTime() + 24 * 3600 * 1000);\nreturn [\n  { json: makeDateInfo(twNow) },\n  { json: makeDateInfo(twTomorrow) },\n];"
      },
      "id": "compute-dates",
      "name": "計算今日與明日",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "逐一處理日期",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.xlsUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent",      "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36" },
            { "name": "Accept",          "value": "application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/octet-stream,*/*;q=0.9" },
            { "name": "Referer",         "value": "https://www.taoyuan-airport.com/" },
            { "name": "Accept-Language", "value": "zh-TW,zh;q=0.9,en-US;q=0.8,en;q=0.7" }
          ]
        },
        "options": {
          "response": {
            "response": { "responseFormat": "file", "outputPropertyName": "data" }
          },
          "timeout": 30000,
          "redirect": { "redirect": { "followRedirects": true, "maxRedirects": 5 } }
        }
      },
      "id": "download-xls",
      "name": "下載 XLS 檔案",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nif (item.json?.error || !item.binary?.data) {\n  console.log(`[n8n] ⚠️ 跳過 ${item.json.isoDate} — 下載失敗或檔案不存在`);\n  return [{ json: { skipRemainder: true, isoDate: item.json.isoDate } }];\n}\n\nconst binary = item.binary.data;\nconst mimeType = (binary.mimeType || '').toLowerCase();\nconst fileSize = binary.fileSize || 0;\n\nif (mimeType.includes('text/html') || mimeType.includes('text/plain') || fileSize < 2000) {\n  console.log(`[n8n] ⚠️ 跳過 ${item.json.isoDate} — MIME ${mimeType}，檔案 ${fileSize} bytes`);\n  return [{ json: { skipRemainder: true, isoDate: item.json.isoDate } }];\n}\n\nconst detectedFormat = (mimeType.includes('openxmlformats') || (binary.fileName || '').toLowerCase().endsWith('.xlsx')) ? 'xlsx' : 'xls';\nconsole.log(`[n8n] ✅ ${item.json.isoDate} Binary OK | size=${fileSize} | format=${detectedFormat}`);\nreturn [{ json: { ...item.json, skipRemainder: false, detectedFormat }, binary: item.binary }];"
      },
      "id": "check-download",
      "name": "驗證下載結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skipRemainder }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "if-skip",
      "name": "跳過？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "fromFile",
        "binaryPropertyName": "data",
        "fileFormat": "={{ $json.detectedFormat }}",
        "options": { "headerRow": true, "sheetName": 0 }
      },
      "id": "parse-spreadsheet",
      "name": "Spreadsheet 解析",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction findHourKey(rows) {\n  if (!rows.length) return null;\n  const keys = Object.keys(rows[0].json);\n  for (const key of keys) {\n    const hits = rows.filter(r => {\n      const v = parseInt(String(r.json[key] ?? ''), 10);\n      return !isNaN(v) && v >= 0 && v <= 23;\n    }).length;\n    if (hits >= 20) return key;\n  }\n  return null;\n}\n\n// 嘗試從欄位名稱找入境/出境欄\nfunction findDirectionalCols(rows) {\n  if (!rows.length) return null;\n  const keys = Object.keys(rows[0].json);\n  const arrKey = keys.find(k => /入境|arrival|arr/i.test(k));\n  const depKey = keys.find(k => /出境|departure|dep/i.test(k));\n  if (arrKey && depKey && arrKey !== depKey) return { arrKey, depKey };\n  // fallback: __EMPTY / __EMPTY_1\n  if (keys.includes('__EMPTY') && keys.includes('__EMPTY_1')) return { arrKey: '__EMPTY', depKey: '__EMPTY_1' };\n  return null;\n}\n\nconst hourKey = findHourKey(items);\nif (!hourKey) throw new Error('無法找到時段欄位，XLS 格式可能已變更');\n\nconst dirCols = findDirectionalCols(items);\nconst parsed = [];\nfor (const item of items) {\n  const row = item.json;\n  const hour = parseInt(String(row[hourKey] ?? ''), 10);\n  if (isNaN(hour) || hour < 0 || hour > 23) continue;\n  const arr = dirCols ? (Number(row[dirCols.arrKey]) || 0) : 0;\n  const dep = dirCols ? (Number(row[dirCols.depKey]) || 0) : 0;\n  parsed.push({ hour, arr, dep });\n}\n\n// 偵測是否有真實的方向分項資料：\n// - dep 全為 0 → 只有一欄合計，無分項\n// - arr === dep for all data hours → 兩欄讀到相同值，無分項\nconst dataHours = parsed.filter(r => r.arr > 0 || r.dep > 0);\nconst allDepZero     = dataHours.every(r => r.dep === 0);\nconst arrDepIdentical = dataHours.length > 0 && dataHours.every(r => r.arr === r.dep);\nconst hasRealDirectional = dataHours.length > 0 && !allDepZero && !arrDepIdentical;\n\nlet hours;\nif (hasRealDirectional) {\n  // 有真實的入境/出境分項，輸出三筆\n  hours = Array.from({ length: 24 }, (_, h) => {\n    const found = parsed.find(r => r.hour === h) ?? { hour: h, arr: 0, dep: 0 };\n    return [\n      { hour: h, forecastCount: found.arr,             terminal: 'all', direction: 'arrival' },\n      { hour: h, forecastCount: found.dep,             terminal: 'all', direction: 'departure' },\n      { hour: h, forecastCount: found.arr + found.dep, terminal: 'all', direction: 'all' },\n    ];\n  }).flat();\n} else {\n  // 無分項 → 只輸出合計（避免前端顯示相同數字的假分項）\n  hours = Array.from({ length: 24 }, (_, h) => {\n    const found = parsed.find(r => r.hour === h) ?? { hour: h, arr: 0, dep: 0 };\n    const total = arrDepIdentical ? found.arr : (found.arr + found.dep);\n    return [{ hour: h, forecastCount: total, terminal: 'all', direction: 'all' }];\n  }).flat();\n}\n\nconst { isoDate, xlsName, gistFileName } = $('驗證下載結果').first().json;\nconst mode = hasRealDirectional ? '3 方向' : '合計';\nconsole.log(`[n8n] 📊 ${isoDate} 解析完成，共 ${hours.length} 筆（${mode}）`);\nreturn [{ json: { date: isoDate, sourceFile: xlsName, gistFileName, hours } }];"
      },
      "id": "transform-rows",
      "name": "轉換為 hours 陣列",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.github.com/gists/45f10cf9dd34610db74ec473b564db05",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",      "value": "Bearer YOUR_GITHUB_PAT_HERE" },
            { "name": "Accept",             "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ files: { [$json.gistFileName]: { content: JSON.stringify({ date: $json.date, sourceFile: $json.sourceFile, hours: $json.hours, updatedAt: new Date().toISOString() }) } } }) }}",
        "options": { "timeout": 20000 }
      },
      "id": "write-gist",
      "name": "寫入 GitHub Gist（日期檔名）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "jsCode": "// 計算 8~60 天前的日期作為待清理檔名（PATCH null 即刪除 Gist 中該檔案）\nconst files = {};\nfor (let i = 8; i <= 60; i++) {\n  const d = new Date(Date.now() + 8 * 3600 * 1000 - i * 24 * 3600 * 1000);\n  const yyyy = d.getUTCFullYear();\n  const mm = String(d.getUTCMonth() + 1).padStart(2, '0');\n  const dd = String(d.getUTCDate()).padStart(2, '0');\n  files[`airport-${yyyy}-${mm}-${dd}.json`] = null;\n}\nreturn [{ json: { filesToDelete: files } }];"
      },
      "id": "compute-cleanup",
      "name": "計算待清理檔案",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 460]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.github.com/gists/45f10cf9dd34610db74ec473b564db05",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",      "value": "Bearer YOUR_GITHUB_PAT_HERE" },
            { "name": "Accept",             "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ files: $json.filesToDelete }) }}",
        "options": { "timeout": 20000 }
      },
      "id": "delete-old-files",
      "name": "刪除過期檔案",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 460],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const g = $input.first().json;\nconsole.log('[n8n] ✅ 全部完成 | gist updated_at:', g.updated_at ?? '(清理完成)');\nreturn [{ json: { ok: true } }];"
      },
      "id": "log-success",
      "name": "記錄成功",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 460]
    }
  ],
  "connections": {
    "每小時觸發":           { "main": [[{ "node": "計算今日與明日",          "type": "main", "index": 0 }]] },
    "計算今日與明日":       { "main": [[{ "node": "逐一處理日期",            "type": "main", "index": 0 }]] },
    "逐一處理日期": {
      "main": [
        [{ "node": "下載 XLS 檔案", "type": "main", "index": 0 }],
        [{ "node": "計算待清理檔案", "type": "main", "index": 0 }]
      ]
    },
    "下載 XLS 檔案":        { "main": [[{ "node": "驗證下載結果",            "type": "main", "index": 0 }]] },
    "驗證下載結果":         { "main": [[{ "node": "跳過？",                  "type": "main", "index": 0 }]] },
    "跳過？": {
      "main": [
        [{ "node": "逐一處理日期", "type": "main", "index": 0 }],
        [{ "node": "Spreadsheet 解析", "type": "main", "index": 0 }]
      ]
    },
    "Spreadsheet 解析":     { "main": [[{ "node": "轉換為 hours 陣列",       "type": "main", "index": 0 }]] },
    "轉換為 hours 陣列":    { "main": [[{ "node": "寫入 GitHub Gist（日期檔名）", "type": "main", "index": 0 }]] },
    "寫入 GitHub Gist（日期檔名）": { "main": [[{ "node": "逐一處理日期",   "type": "main", "index": 0 }]] },
    "計算待清理檔案":       { "main": [[{ "node": "刪除過期檔案",            "type": "main", "index": 0 }]] },
    "刪除過期檔案":         { "main": [[{ "node": "記錄成功",                "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-02T00:00:00.000Z",
  "versionId": "11"
}
