n8n-workflow-taoyuan-xls.json
{
  "name": "桃園機場人流預報 XLS 爬取 → Vercel Firestore",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "每日 01:00 觸發",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// 計算今日日期（台灣時間 UTC+8）\nconst now = new Date();\nconst taiwanOffset = 8 * 60 * 60 * 1000;\nconst twDate = new Date(now.getTime() + taiwanOffset);\n\nconst yyyy = twDate.getUTCFullYear();\nconst mm = String(twDate.getUTCMonth() + 1).padStart(2, '0');\nconst dd = String(twDate.getUTCDate()).padStart(2, '0');\n\nconst isoDate = `${yyyy}-${mm}-${dd}`;\nconst xlsName = `${yyyy}_${mm}_${dd}.xls`;\nconst xlsUrl  = `https://www.taoyuanairport.com.tw/flightforecast/${xlsName}`;\n\nreturn [{ json: { isoDate, xlsName, xlsUrl } }];"
      },
      "id": "compute-date",
      "name": "計算日期與 XLS URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.xlsUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 30000,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          }
        }
      },
      "id": "download-xls",
      "name": "下載 XLS 檔案",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "fromFile",
        "binaryPropertyName": "data",
        "options": {
          "headerRow": true,
          "sheetName": 0
        }
      },
      "id": "parse-spreadsheet",
      "name": "Spreadsheet 解析",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// ─── 將 Spreadsheet File 輸出的多列 JSON 轉換為 hours 陣列 ─────\n// Spreadsheet File 節點每列輸出一個 item，欄位名稱來自 XLS 標題列。\n//\n// 【請依實際 XLS 欄位名稱調整 COL_* 常數】\n// 若 XLS 沒有標題列，在 Spreadsheet File 節點關閉「Header Row」，\n// 欄位會以 column_0, column_1, ... 命名。\n\nconst COL_HOUR   = '時段';\nconst COL_T1_ARR = '第一航廈入境';\nconst COL_T1_DEP = '第一航廈出境';\nconst COL_T2_ARR = '第二航廈入境';\nconst COL_T2_DEP = '第二航廈出境';\n\nconst items = $input.all();\nconst hours = [];\n\nfor (const item of items) {\n  const row = item.json;\n  const hourRaw = row[COL_HOUR];\n  const hour = parseInt(String(hourRaw), 10);\n  if (isNaN(hour) || hour < 0 || hour > 23) continue;\n\n  const t1Arr = Number(row[COL_T1_ARR]) || 0;\n  const t1Dep = Number(row[COL_T1_DEP]) || 0;\n  const t2Arr = Number(row[COL_T2_ARR]) || 0;\n  const t2Dep = Number(row[COL_T2_DEP]) || 0;\n\n  hours.push({\n    hour,\n    forecastCount: t1Arr + t1Dep + t2Arr + t2Dep,\n    terminal: 'all',\n  });\n}\n\nconst filled = Array.from({ length: 24 }, (_, h) => {\n  const found = hours.find((r) => r.hour === h);\n  return found ?? { hour: h, forecastCount: 0, terminal: 'all' };\n});\n\nconst isoDate = $('計算日期與 XLS URL').first().json.isoDate;\nconst xlsName = $('計算日期與 XLS URL').first().json.xlsName;\n\nreturn [{ json: { date: isoDate, sourceFile: xlsName, hours: filled } }];"
      },
      "id": "transform-rows",
      "name": "轉換為 hours 陣列",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://da-line-liff-app.vercel.app/nuxt-api/airport-forecast",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7275bd5ac5bf49a4cf4d5019b4a34cf26bdcd8c459dd096213a1eec3685f0aa7"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ date: $json.date, sourceFile: $json.sourceFile, hours: $json.hours }) }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "post-vercel",
      "name": "寫入 Vercel Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-ok",
              "leftValue": "={{ $json.status.code }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-result",
      "name": "檢查結果",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.log(`[n8n] ✅ 桃園機場人流寫入成功 | ${d.data?.date} | 尖峰 ${d.data?.peakHour}:00 | 總人次 ${d.data?.totalForecast}`);\nreturn $input.all();"
      },
      "id": "log-success",
      "name": "記錄成功",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconsole.error(`[n8n] ❌ 桃園機場人流寫入失敗:`, JSON.stringify(d));\nreturn $input.all();"
      },
      "id": "log-error",
      "name": "記錄失敗",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 420]
    }
  ],
  "connections": {
    "每日 01:00 觸發": {
      "main": [
        [{ "node": "計算日期與 XLS URL", "type": "main", "index": 0 }]
      ]
    },
    "計算日期與 XLS URL": {
      "main": [
        [{ "node": "下載 XLS 檔案", "type": "main", "index": 0 }]
      ]
    },
    "下載 XLS 檔案": {
      "main": [
        [{ "node": "Spreadsheet 解析", "type": "main", "index": 0 }]
      ]
    },
    "Spreadsheet 解析": {
      "main": [
        [{ "node": "轉換為 hours 陣列", "type": "main", "index": 0 }]
      ]
    },
    "轉換為 hours 陣列": {
      "main": [
        [{ "node": "寫入 Vercel Firestore", "type": "main", "index": 0 }]
      ]
    },
    "寫入 Vercel Firestore": {
      "main": [
        [{ "node": "檢查結果", "type": "main", "index": 0 }]
      ]
    },
    "檢查結果": {
      "main": [
        [{ "node": "記錄成功", "type": "main", "index": 0 }],
        [{ "node": "記錄失敗", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-01T00:00:00.000Z",
  "versionId": "3"
}
